
.img2{
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    
}

.focus{
    position: absolute;
    top: 70vh;
    left: 50px;
    color: rgb(255, 255, 255);
}
.focus h1{
    margin-bottom: 40px;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Eater', cursive; 
  
}
.focus p{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}
.focus button{
    color: rgb(44, 44, 44);
    font-weight: bold;
    font-size: 18px;
    width: 140px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #F2F2F2;
}
.focus button:hover{
    background-color: transparent;
    border:#F2F2F2 solid 2px;
    color: #F2F2F2;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient( rgb(50, 139, 216) ,rgb(216, 50, 163) , #f03) ;
    border-radius: 10px;
}